@use './variables' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    @media screen and (min-width: 1440px) {
        font-size: 0.7vw;
    }
}

body {
    font-family: $Family;
    color: $Very-Dark-Blue;
}

.header {
    padding-top: 4rem;
    padding-bottom: min(21.3vw, 16rem);
    padding-inline: min(6.4vw, 16rem);
    background-color: $Very-Pale-Blue;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    &__container {
        display: flex;
    flex-direction: column;
    max-width: 112rem;
    margin: auto;
    @media screen and (min-width: 600px ) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1.5rem;
        border-bottom: .1rem solid $Dark-Grayish-Blue;
        @media screen and (min-width: 600px) {
            border: none;
        }
    }
    &__title {
        font-size: min(6.4vw, 2.8rem) ;//2.4rem;
        width: max-content;
    }
    &__subtitle {
        font-size: min(3.73vw, 1.4rem);
        color: $Dark-Grayish-Blue;
        font-weight: 700;
        width: max-content;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        align-items: center;
        @media screen and (min-width: 600px) {
            gap: 1rem;
        }
    }
    &__toggle-container {
        position: relative;
        display: flex;
        align-items: center;
    }
    &__toggle {
        appearance: none;
        width: 5rem;
        height: 2.5rem;
        background-color: $Toggle;
        border-radius: 100vw;
        transition: all 300ms;
    }

    &__toggle-ball {
        width:1.8rem;
        height: 1.8rem;
        background-color: $White;
        position: absolute;
        top: .4rem;
        right: .4rem;
        border-radius: 50%;
        z-index: 20;
        transition: all 300ms;
    }
    &__toggle:checked {
        background-image: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));

        &+.header__toggle-ball {
            left: .4rem;
            background-color: $Very-Dark-Blue;
        }
    }
}

main {
    max-width: 112rem;
    margin: auto;
}
.main-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    padding-inline: 2.4rem;
    @media screen and (min-width: 1250px) {
        padding-inline:0;
    }
    // make the padding behave like the header,
    // theres a problem with the height of the twitter card
    // change the color of the border for each card
}
.main-card {
    padding-block: 3rem;
    flex-basis: 25.5rem;
    max-width: 32.5rem;
    flex-grow: 1;
    //flex-shrink: 1;
    background-color: $Light-Grayish-Blue;
    border-radius: 1rem;
    border-top: .5rem solid black;

    &__row {
        display: flex;
        margin: auto;
        width: max-content;
        align-items: center;
    }
    &__icon {
        margin-right: 1rem;
    }
    &__user {
        font-weight: 700;
        color: $Dark-Grayish-Blue;
        font-size: 1.3rem;
    }
    &__number {
        max-width: max-content;
        font-weight: 700;
        font-size: 5rem;
        margin: auto;
        margin-top: 3rem;
    }
    &__followers {
        max-width: max-content;
        margin: auto;
        letter-spacing: .5rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }
    &__arrow {
        margin-right: .5rem;
    }
    &__today {
        font-weight: 700;
        color: $Lime-Green;
    }
}
